body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #000000;
  font-family:"Trebuchet MS", Helvetica, sans-serif
}

p {
  color: #000000;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha;
}
